@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-radio-button~.mat-radio-button {
  padding-right: 16px;
}

.container {
  width: 100%;
  margin-top: 20px;
}

mat-radio-button#mat-radio-2 {
  margin-right: 10px;
  color: #000;
}

.my-form {
  background: #e6dede;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 5px;
}

.btnNew {
  width: 40px;
  height: 40px;
  background: red;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  transition: 0.4s;
}

button.btn.btn-danger.addNew {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  transition: 0.4s;
}
button.btn.btn-danger.addNew:focus {
  outline: none;
}
.btnNew:hover {
  background: #fff;
  border: 1px solid red;
}

.btnNew:hover button.btn.btn-danger.addNew[_ngcontent-c1] {
  color: red;
}
em {
  color: red;
}