<div>
  <user-info [info]="userData"></user-info>
</div>

<div class="user-info" *ngIf="customerInfo!=null">
  <h1 class="f-info">Full name: {{customerInfo.firstName}} {{customerInfo.lastName}} {{customerInfo.middleName}}</h1>
  <h1 class="f-info">Gender: {{customerInfo.gender}}</h1>
  <h1 class="f-info">Occupation: {{customerInfo.occupation}}</h1>
  <h1 class="f-info">DOB: {{customerInfo.dob | date: 'mediumDate'}}</h1>
</div>

<div class="container">
  <div class="customer-col">
    <!-- CUSTOMER VALIDATION -->
    <div *ngFor="let col of this.customerForm.controls.insured.controls; let i = index">
      <div *ngIf="customerForm.controls.insured.controls[i].controls.firstName.invalid && (customerForm.controls.insured.controls[i].controls.firstName.dirty || customerForm.controls.insured.controls[i].controls.firstName.touched)"
        class="error-container">
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['firstName'].errors.pattern">First name contains invalid characters
          <span style="font-weight: bold; color: red;"> of {{mode[i]}}</span>
        </mat-error>
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['firstName'].errors.required">First name is required
          <span style="font-weight: bold; color: blue;"> of {{mode[i]}}</span>
        </mat-error>
      </div>

      <div *ngIf="customerForm.controls.insured.controls[i].controls.middleName.invalid && (customerForm.controls.insured.controls[i].controls.middleName.dirty || customerForm.controls.insured.controls[i].controls.middleName.touched)"
        class="error-container">
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['middleName'].errors.pattern">Middle name contains invalid characters
          <span style="font-weight: bold; color: red;"> of {{mode[i]}}</span>
        </mat-error>
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['middleName'].errors.required">Middle name is required
          <span style="font-weight: bold; color: blue;"> of {{mode[i]}}</span>
        </mat-error>
      </div>

      <div *ngIf="customerForm.controls.insured.controls[i].controls.lastName.invalid && (customerForm.controls.insured.controls[i].controls.lastName.dirty || customerForm.controls.insured.controls[i].controls.lastName.touched)"
        class="error-container">
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['lastName'].errors.pattern">Last name contains invalid characters
          <span style="font-weight: bold; color: red;"> of {{mode[i]}}</span>
        </mat-error>
        <mat-error *ngIf="customerForm.controls.insured.controls[i].controls['lastName'].errors.required">Last name is required
          <span style="font-weight: bold; color: blue;"> of {{mode[i]}}</span>
        </mat-error>
      </div>
    </div>
    <!-- CUSTOMER VALIDATION -->

    <form class="example-form my-form" [formGroup]="customerForm">
      <div formArrayName="insured">
        <div class="insured-form" *ngFor="let insure of customerForm.controls.insured.controls; let i = index;">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="i > 0" (click)="removeForm(i)"></span>
          </div>
          <!-- <div class="panel-body" [formGroupName]="i">
            <customer-form (sendCustomerInfo)="recivedCustomerInfo($event)" [mode]="mode[i]" [insured]="customerForm.controls.insured" [group]="customerForm.controls.insured.controls[i]"></customer-form>
          </div> -->
          <div class="panel-body" [formGroupName]="i">
            <customer-form [mode]="mode[i]" [insured]="customerForm.controls.insured" [group]="customerForm.controls.insured.controls[i]"></customer-form>
          </div>
        </div>
      </div>
      <div class="btnNew">
        <button class="btn btn-danger addNew" (click)="addNew()">+</button>
      </div>
    </form>

  </div>
</div>
